last_execution.json
{
  "id": "64",
  "finished": false,
  "mode": "manual",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "error",
  "createdAt": "2026-02-07T20:56:46.687Z",
  "startedAt": "2026-02-07T20:56:46.736Z",
  "stoppedAt": "2026-02-07T20:56:49.793Z",
  "deletedAt": null,
  "workflowId": "WWFBfwaOceE8Jgke",
  "waitTill": null,
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "error": {
        "level": "warning",
        "tags": {
          "reWrapped": true
        },
        "description": "[GoogleGenerativeAI Error]: Error fetching from https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent: [429 Too Many Requests] You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\nPlease retry in 9.972097602s. [{\"@type\":\"type.googleapis.com/google.rpc.Help\",\"links\":[{\"description\":\"Learn more about Gemini API quotas\",\"url\":\"https://ai.google.dev/gemini-api/docs/rate-limits\"}]},{\"@type\":\"type.googleapis.com/google.rpc.QuotaFailure\",\"violations\":[{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"model\":\"gemini-2.0-flash\",\"location\":\"global\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\"quotaId\":\"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}}]},{\"@type\":\"type.googleapis.com/google.rpc.RetryInfo\",\"retryDelay\":\"9s\"}]",
        "timestamp": 1770497809787,
        "context": {},
        "functionality": "regular",
        "name": "NodeOperationError",
        "node": {
          "parameters": {
            "aiAgentStarterCallout": "",
            "promptType": "define",
            "text": "{{ $node[\"WhatsApp Webhook\"].json.body }}",
            "hasOutputParser": false,
            "needsFallback": false,
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 3.1,
          "position": [
            -144,
            448
          ],
          "id": "253a09f9-5e70-4a22-94b4-60eb94ce5001",
          "name": "AI Agent"
        },
        "messages": [
          "[GoogleGenerativeAI Error]: Error fetching from https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent: [429 Too Many Requests] You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\nPlease retry in 9.972097602s. [{\"@type\":\"type.googleapis.com/google.rpc.Help\",\"links\":[{\"description\":\"Learn more about Gemini API quotas\",\"url\":\"https://ai.google.dev/gemini-api/docs/rate-limits\"}]},{\"@type\":\"type.googleapis.com/google.rpc.QuotaFailure\",\"violations\":[{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"model\":\"gemini-2.0-flash\",\"location\":\"global\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\"quotaId\":\"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}}]},{\"@type\":\"type.googleapis.com/google.rpc.RetryInfo\",\"retryDelay\":\"9s\"}]"
        ],
        "message": "The service is receiving too many requests from you",
        "stack": "NodeOperationError: The service is receiving too many requests from you\n    at C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\agents\\ToolsAgent\\V3\\helpers\\executeBatch.ts:95:11\n    at Array.forEach (<anonymous>)\n    at executeBatch (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\agents\\ToolsAgent\\V3\\helpers\\executeBatch.ts:84:15)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.toolsAgentExecute (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\agents\\ToolsAgent\\V3\\execute.ts:46:66)\n    at ExecuteContext.execute (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\V3\\AgentV3.node.ts:139:10)\n    at WorkflowExecute.executeNode (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1226:11)\n    at C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1662:27\n    at C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:2297:11"
      },
      "runData": {
        "WhatsApp Webhook": [
          {
            "startTime": 1770497806749,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 2,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "host": "yoko-unsimmering-palmira.ngrok-free.dev",
                        "user-agent": "Make/production",
                        "content-length": "178",
                        "accept": "application/json, text/plain, */*",
                        "accept-encoding": "gzip, compress, deflate, br",
                        "content-type": "application/json",
                        "traceparent": "00-6987a70e000000006ad4f61401b11437-6ad4f61401b11437-00",
                        "tracestate": "dd=t.tid:6987a70e00000000;t.dm:-1;s:0;p:6ad4f61401b11437",
                        "x-datadog-parent-id": "7698048228871181367",
                        "x-datadog-sampling-priority": "0",
                        "x-datadog-tags": "_dd.p.tid=6987a70e00000000",
                        "x-datadog-trace-id": "7698048228871181367",
                        "x-forwarded-for": "35.170.163.230",
                        "x-forwarded-host": "yoko-unsimmering-palmira.ngrok-free.dev",
                        "x-forwarded-proto": "https"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "wa_phone": "573156213510",
                        "wa_message_id": "wamid.HBgMNTczMTU2MjEzNTEwFQIAEhggQUMxMjY3RDM1RDdFRkVCNDg2QTA2MEUxODE5MzIyQkEA",
                        "body": "\u00bfQu\u00e9 servicios de automatizaci\u00f3n ofrecen?"
                      },
                      "webhookUrl": "http://localhost:5678/webhook-test/whatsapp-webhook",
                      "executionMode": "test"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Execute a SQL query": [
          {
            "startTime": 1770497806753,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "WhatsApp Webhook"
              }
            ],
            "hints": [],
            "executionTime": 1355,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "handle_router_logic": {
                        "action": "process_message",
                        "status": "active_session",
                        "project_id": "3a94430b-25d4-49d7-975b-2e970b617506",
                        "session_id": "0f7380d7-434b-4fd5-918d-a352bc7b2bb8"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "If": [
          {
            "startTime": 1770497808110,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Execute a SQL query"
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "handle_router_logic": {
                        "action": "process_message",
                        "status": "active_session",
                        "project_id": "3a94430b-25d4-49d7-975b-2e970b617506",
                        "session_id": "0f7380d7-434b-4fd5-918d-a352bc7b2bb8"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Gemini Chat Model": [
          {
            "startTime": 1770497808488,
            "executionTime": 1294,
            "executionIndex": 4,
            "executionStatus": "error",
            "source": [
              {
                "previousNode": "AI Agent",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "Human: {{ $node[\"WhatsApp Webhook\"].json.body }}"
                      ],
                      "estimatedTokens": 14,
                      "options": {
                        "google_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "GOOGLE_API_KEY"
                          ]
                        },
                        "base_url": "https://generativelanguage.googleapis.com",
                        "model": "gemini-2.0-flash"
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "Human: {{ $node[\"WhatsApp Webhook\"].json.body }}"
                      ],
                      "estimatedTokens": 14,
                      "options": {
                        "google_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "GOOGLE_API_KEY"
                          ]
                        },
                        "base_url": "https://generativelanguage.googleapis.com",
                        "model": "gemini-2.0-flash"
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "Google Gemini Chat Model",
                  "runIndex": 0
                }
              ]
            },
            "error": {
              "message": "The service is receiving too many requests from you",
              "timestamp": 1770497809781,
              "name": "NodeApiError",
              "description": "[GoogleGenerativeAI Error]: Error fetching from https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent: [429 Too Many Requests] You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\nPlease retry in 9.972097602s. [{\"@type\":\"type.googleapis.com/google.rpc.Help\",\"links\":[{\"description\":\"Learn more about Gemini API quotas\",\"url\":\"https://ai.google.dev/gemini-api/docs/rate-limits\"}]},{\"@type\":\"type.googleapis.com/google.rpc.QuotaFailure\",\"violations\":[{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"model\":\"gemini-2.0-flash\",\"location\":\"global\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\"quotaId\":\"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}}]},{\"@type\":\"type.googleapis.com/google.rpc.RetryInfo\",\"retryDelay\":\"9s\"}]",
              "context": {}
            }
          }
        ],
        "AI Agent": [
          {
            "startTime": 1770497808117,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "If",
                "previousNodeOutput": 1
              }
            ],
            "hints": [],
            "executionTime": 1672,
            "executionStatus": "error",
            "error": {
              "level": "warning",
              "tags": {
                "reWrapped": true
              },
              "description": "[GoogleGenerativeAI Error]: Error fetching from https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent: [429 Too Many Requests] You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\nPlease retry in 9.972097602s. [{\"@type\":\"type.googleapis.com/google.rpc.Help\",\"links\":[{\"description\":\"Learn more about Gemini API quotas\",\"url\":\"https://ai.google.dev/gemini-api/docs/rate-limits\"}]},{\"@type\":\"type.googleapis.com/google.rpc.QuotaFailure\",\"violations\":[{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"model\":\"gemini-2.0-flash\",\"location\":\"global\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\"quotaId\":\"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}}]},{\"@type\":\"type.googleapis.com/google.rpc.RetryInfo\",\"retryDelay\":\"9s\"}]",
              "timestamp": 1770497809787,
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "aiAgentStarterCallout": "",
                  "promptType": "define",
                  "text": "{{ $node[\"WhatsApp Webhook\"].json.body }}",
                  "hasOutputParser": false,
                  "needsFallback": false,
                  "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 3.1,
                "position": [
                  -144,
                  448
                ],
                "id": "253a09f9-5e70-4a22-94b4-60eb94ce5001",
                "name": "AI Agent"
              },
              "messages": [
                "[GoogleGenerativeAI Error]: Error fetching from https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent: [429 Too Many Requests] You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\nPlease retry in 9.972097602s. [{\"@type\":\"type.googleapis.com/google.rpc.Help\",\"links\":[{\"description\":\"Learn more about Gemini API quotas\",\"url\":\"https://ai.google.dev/gemini-api/docs/rate-limits\"}]},{\"@type\":\"type.googleapis.com/google.rpc.QuotaFailure\",\"violations\":[{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\"quotaId\":\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\"quotaDimensions\":{\"model\":\"gemini-2.0-flash\",\"location\":\"global\"}},{\"quotaMetric\":\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\"quotaId\":\"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\"quotaDimensions\":{\"location\":\"global\",\"model\":\"gemini-2.0-flash\"}}]},{\"@type\":\"type.googleapis.com/google.rpc.RetryInfo\",\"retryDelay\":\"9s\"}]"
              ],
              "message": "The service is receiving too many requests from you",
              "stack": "NodeOperationError: The service is receiving too many requests from you\n    at C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\agents\\ToolsAgent\\V3\\helpers\\executeBatch.ts:95:11\n    at Array.forEach (<anonymous>)\n    at executeBatch (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\agents\\ToolsAgent\\V3\\helpers\\executeBatch.ts:84:15)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.toolsAgentExecute (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\agents\\ToolsAgent\\V3\\execute.ts:46:66)\n    at ExecuteContext.execute (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\@n8n\\n8n-nodes-langchain\\nodes\\agents\\Agent\\V3\\AgentV3.node.ts:139:10)\n    at WorkflowExecute.executeNode (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1226:11)\n    at C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1662:27\n    at C:\\Users\\WIN10\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:2297:11"
            }
          }
        ]
      },
      "pinData": {},
      "lastNodeExecuted": "AI Agent"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [
        {
          "node": {
            "parameters": {
              "aiAgentStarterCallout": "",
              "promptType": "define",
              "text": "{{ $node[\"WhatsApp Webhook\"].json.body }}",
              "hasOutputParser": false,
              "needsFallback": false,
              "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
              -144,
              448
            ],
            "id": "253a09f9-5e70-4a22-94b4-60eb94ce5001",
            "name": "AI Agent"
          },
          "data": {
            "main": [
              [
                {
                  "json": {
                    "handle_router_logic": {
                      "action": "process_message",
                      "status": "active_session",
                      "project_id": "3a94430b-25d4-49d7-975b-2e970b617506",
                      "session_id": "0f7380d7-434b-4fd5-918d-a352bc7b2bb8"
                    }
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ],
            "ai_languageModel": [
              [
                {
                  "json": {
                    "messages": [
                      "Human: {{ $node[\"WhatsApp Webhook\"].json.body }}"
                    ],
                    "estimatedTokens": 14,
                    "options": {
                      "google_api_key": {
                        "lc": 1,
                        "type": "secret",
                        "id": [
                          "GOOGLE_API_KEY"
                        ]
                      },
                      "base_url": "https://generativelanguage.googleapis.com",
                      "model": "gemini-2.0-flash"
                    }
                  }
                }
              ]
            ]
          },
          "source": {
            "main": [
              {
                "previousNode": "If",
                "previousNodeOutput": 1
              }
            ]
          }
        }
      ],
      "metadata": {
        "Google Gemini Chat Model": [
          {
            "subRun": [
              {
                "node": "Google Gemini Chat Model",
                "runIndex": 0
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1770497806746,
        "source": "manual",
        "triggerNode": {
          "name": "WhatsApp Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "WWFBfwaOceE8Jgke",
    "name": "WhatsApp Router Flow",
    "active": false,
    "activeVersionId": null,
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "whatsapp-webhook",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseCode": 200,
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -672,
          320
        ],
        "webhookId": "66a9819d-49de-46ab-a0eb-11e7231cf9e2",
        "id": "27776abf-4945-4eab-8ba2-260f9f8f9f64"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT * FROM handle_router_logic(\n  '{{ $json.body.wa_phone }}',\n  '{{ $json.body.wa_message_id }}',\n  jsonb_build_object(\n    'phone', '{{ $json.body.wa_phone }}',\n    'message_id', '{{ $json.body.wa_message_id }}',\n    'text_body', '{{ $json.body.body }}'\n  )\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -544,
          320
        ],
        "id": "28bbcae1-fde1-4001-896f-99fabf52c295",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "gDCqKXJ6HOMF4oCX",
            "name": "Postgres account 4"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c99d4b18-9807-4930-8942-7e0963a153ed",
                "leftValue": "={{ $json[\"handle_router_logic\"][\"action\"] }}",
                "rightValue": "show_main_menu",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -400,
          320
        ],
        "id": "f288b73b-8a9b-461c-97ac-6edd4e45b18f",
        "name": "If"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "1d3a7460-2032-44b6-b0ff-e1644f0812a8",
                "name": "reply_text",
                "value": "\ud83d\udc4b \u00a1Hola! Soy Sofi, tu asistente virtual de EstiloPlus.  \u00bfEn qu\u00e9 puedo ayudarte hoy?  1\ufe0f\u20e3 Ver Servicios y Planes 2\ufe0f\u20e3 Soporte T\u00e9cnico 3\ufe0f\u20e3 Hablar con un Asesor",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -240,
          304
        ],
        "id": "0fad37ab-80f8-4e3c-b287-c03732c06e54",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "aiAgentStarterCallout": "",
          "promptType": "define",
          "text": "{{ $node[\"WhatsApp Webhook\"].json.body }}",
          "hasOutputParser": false,
          "needsFallback": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -144,
          448
        ],
        "id": "253a09f9-5e70-4a22-94b4-60eb94ce5001",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "notice": "",
          "modelName": "models/gemini-2.0-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -336,
          544
        ],
        "id": "b99d4425-7f1d-47c5-92cc-bc9a5949b4f7",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "XwtWGUExtkQT4TJm",
            "name": "Google Gemini Key (Sofi) 20c5"
          }
        }
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Router Logic": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {},
    "pinData": {}
  },
  "customData": {}
}